<!DOCTYPE html>
<html>
<head>
    <title>Server Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">  </head>
<body>
    <h1>Server Deployments</h1>

    <a href="/logout">Logout</a>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Subdomain</th>
                <th>Port</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for deployment in deployments %}
            <tr>
                <td>{{ deployment[1] }}</td>
                <td>{{ deployment[2] }}</td>
                <td>{{ deployment[4] }}</td>
                <td>{% if deployment[7] %}Running{% else %}Stopped{% endif %}</td>
                <td>
                  <form action="/remove/{{ deployment[1] }}" method="post">
                    <button type="submit">Remove</button>
                  </form>
                  <form action="/start/{{ deployment[1] }}" method="post">
                    <button type="submit">Start</button>
                  </form>
                  <form action="/stop/{{ deployment[1] }}" method="post">
                    <button type="submit">Stop</button>
                  </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


     <form action="/deploy" method="post">
      <h2>Deploy New Server</h2>
      <label for="image_link">Image Link:</label><br>
      <input type="text" id="image_link" name="image_link"><br><br>

      <label for="main_domain">Main Domain:</label><br>
      <input type="text" id="main_domain" name="main_domain"><br><br>
      
      <label for="name">Server Name:</label><br>
      <input type="text" id="name" name="name"><br><br>

      <label for="docker_flags">Docker Flags:</label><br>
      <input type="text" id="docker_flags" name="docker_flags"><br><br>
      
      <input type="submit" value="Deploy">
    </form>




</body>
</html>